[defaults]
callback_result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer

inventory = ./inventory/inventory.py
roles_path = ./roles

interpreter_python = /usr/bin/python3
host_key_checking = False # fine for this repo
