[defaults]
callback_result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer
collections_scan_sys_path = False

inventory = ./inventory/inventory.py
roles_path = ./roles
collections_path = ./.ansible/collections

interpreter_python = auto_silent
host_key_checking = False
